@import (reference) "../../References.less";

@COMPONENT: %%upperComponentName%%;

// ----------------------------------------------------------------------------- CONFIG

// ----------------------------------------------------------------------------- BLOCK

.Root {
}

// ----------------------------------------------------------------------------- ELEMENTS

// ----------------------------------------------------------------------------- MODIFIERS

// ----------------------------------------------------------------------------- CHILDREN

// ----------------------------------------------------------------------------- PATCHES

