@import (reference) "../../common/References.less";

@COMPONENT: ArticlePage;

// --------------------------------------------------------------------------- CONFIG

// --------------------------------------------------------------------------- BLOCK

.Root {
}

// --------------------------------------------------------------------------- ELEMENTS

// --------------------------------------------------------------------------- MODIFIERS

// --------------------------------------------------------------------------- CHILDREN

// --------------------------------------------------------------------------- PATCHES
