{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    [
      "@babel/preset-typescript",
      {
        "allowDeclareFields": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["import-glob-array", "@babel/plugin-transform-runtime", "@babel/plugin-proposal-class-properties"]
}
