
# ------------------------------------------------------------------------------ IDE / OTHERS

.DS_Store
.idea

# ------------------------------------------------------------------------------ ENV

.env

# ------------------------------------------------------------------------------ GENERATED

src/common/atoms/atoms.ts
node_modules
dist/static


# TODO REMOVE after first install
#  or generate a gitignore without some files and folder in setup first install?
config/install.cache
