# values auto-commented during first setup
config/install.config.js

# Output application depend of project
dist

# Auto generated atoms
src/atoms/atoms.ts

# Auto generate pages list for js router
src/pages.ts

.env
node_modules
.DS_Store
.idea
.vscode


