# ------------------------------------------------------------------------------ AUTO-COMMENTED
# values auto-commented during first setup
config/install.config.js
src/main

# ------------------------------------------------------------------------------ GENERATED

# Auto generated atoms
src/common/atoms/atoms.ts

# Auto generated sprites
src/common/sprites/*.less
src/common/sprites/*.png
src/common/sprites/*.ts
src/common/sprites/*.cache

# Auto generate bundles list
src/bundles.ts

# Auto generate pages list for js router
src/**/pages.ts

# ------------------------------------------------------------------------------ ENV

.env

# ------------------------------------------------------------------------------ DEP

node_modules

# ------------------------------------------------------------------------------ IDE / OTHERS

.DS_Store
.idea



