@import (reference) "../../References.less";
@import (reference) "../../atoms/test.module.css";

// ----------------------------------------------------------------------------- CONFIG

@COMPONENT: AppView;

// ----------------------------------------------------------------------------- BLOCK

.AppView {
  //margin-top: @value test;
  .gridContainer();
}

// ----------------------------------------------------------------------------- ELEMENT

._wrapper {
  position: relative;
  .gridFactor(margin-left, 1, true);
}

// modifier with two "__" allow to target "css.wrapper_black"
._wrapper__green {
  // ...
}

._mainMenu {
  margin-top: 1rem;
  font-size: 2rem;
}

// ----------------------------------------------------------------------------- MODIFIER

// ----------------------------------------------------------------------------- CHILDREN

:global (.ReactViewStack) {
  margin-top: 1rem;
  & > div {
    position: absolute;
  }
}

:global (.GridLayout) {
  z-index: 0;
}

// ----------------------------------------------------------------------------- PATCHES
