@import (reference) "../../References.less";

@COMPONENT: AppView;
.AppView {
  // --------------------------------------------------------------------------- CONFIG

  // --------------------------------------------------------------------------- BLOCK

  // --------------------------------------------------------------------------- ELEMENT

  &_wrapper {
    position: relative;
  }

  // --------------------------------------------------------------------------- MODIFIER

  // --------------------------------------------------------------------------- CHILDREN

  .MainMenu {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .ReactViewStack {
    margin-top: 1rem;
    font-size: 2rem;

    > div {
      position: absolute;
    }
  }

  .GridLayout {
    z-index: 0;
  }

  // --------------------------------------------------------------------------- PSEUDO
}
