@import (reference) "../../references.less";

// ----------------------------------------------------------------------------- CONFIG

@COMPONENT: %%upperComponentName%%;

// ----------------------------------------------------------------------------- BLOCK

.Root { }

// ----------------------------------------------------------------------------- ELEMENTS

// ----------------------------------------------------------------------------- MODIFIERS

// ----------------------------------------------------------------------------- CHILDREN

// ----------------------------------------------------------------------------- PATCHES

