import %%upperComponentName%% from "./%%upperComponentName%%";

describe("%%upperComponentName%%", () => {
  it("should be defined", () => {
    expect(%%upperComponentName%%).toBeDefined();
  });
});
