@import (reference) "../../../common/references.less";

// ----------------------------------------------------------------------------- CONFIG

@COMPONENT: AppView;

// ----------------------------------------------------------------------------- BLOCK

.AppView {

// ----------------------------------------------------------------------------- ELEMENTS

// ----------------------------------------------------------------------------- MODIFIERS

// ----------------------------------------------------------------------------- CHILDREN

// ----------------------------------------------------------------------------- PATCHES

}
