@import (reference) "../../common/References.less";

// ----------------------------------------------------------------------------- CONFIG

@COMPONENT: AppView;

// ----------------------------------------------------------------------------- BLOCK

.AppView {

// ----------------------------------------------------------------------------- ELEMENTS

// ----------------------------------------------------------------------------- MODIFIERS

// ----------------------------------------------------------------------------- CHILDREN

// ----------------------------------------------------------------------------- PATCHES

}
