@import (reference) "../../common/References.less";

// ----------------------------------------------------------------------------- CONFIG

@COMPONENT: AppView;

// ----------------------------------------------------------------------------- BLOCK

.Root {
  .gridContainer();
}

// ----------------------------------------------------------------------------- ELEMENT

.wrapper {
  position: relative;
  .gridFactor(margin-left, 1, true);

  // modifier with one "_" allow to target "css.wrapper_green"
  &_green {
    // color: green;
  }
}

.items {
  margin-top: 1rem;
  font-size: 2rem;
}

// ----------------------------------------------------------------------------- MODIFIER

// ----------------------------------------------------------------------------- CHILDREN

:global (.ReactViewStack) {
  margin-top: 1rem;
}

:global (.GridLayout) {
  z-index: 0;
}

// ----------------------------------------------------------------------------- PATCHES
