// ----------------------------------------------------------------------------- VAR

@font-base-path: "./";

// ----------------------------------------------------------------------------- BREAKPOINTS

@breakpoint-mobile: 320px;
@breakpoint-phablet: 600px;
@breakpoint-tablet: 768px;
@breakpoint-laptop: 1024px;
@breakpoint-bigLaptop: 1440px;
@breakpoint-desktop: 1680px;

// ----------------------------------------------------------------------------- COLORS

@black-color: #000;
@white-color: #fff;

// ----------------------------------------------------------------------------- GRID

// columns
@total-column-number: 12;
@total-column-number-mobile: 4;

// gutters
@gutter-size: 30;
@gutter-size-px: unit(@gutter-size, px);

@gutter-size-mobile: 25;
@gutter-size-mobile-px: unit(@gutter-size-mobile, px);

// maximum grid size
@max-width-grid: 1024;
@max-width-grid-px: unit(@max-width-grid, px);

// ----------------------------------------------------------------------------- TRANSITIONS

// transitions
@transitions-default-speed: 300ms;
@transitions-default-ease: cubic-bezier(0.215, 0.61, 0.355, 1);
