
# ------------------------------------------------------------------------------ IDE / OTHERS

.DS_Store
.idea

# ------------------------------------------------------------------------------ ENV

.env

# ------------------------------------------------------------------------------ GENERATED

# Generated
src/common/atoms/atoms.ts
node_modules

# Do not forgot to change this one if you need to keep content inside dist/ folder
dist
