@import (reference) "../../references.less";

// ----------------------------------------------------------------------------- CONFIG

@COMPONENT: %%upperComponentName%%;

// ----------------------------------------------------------------------------- BLOCK

.%%upperComponentName%% {

// ----------------------------------------------------------------------------- ELEMENTS

// ----------------------------------------------------------------------------- MODIFIERS

// ----------------------------------------------------------------------------- CHILDREN

// ----------------------------------------------------------------------------- PATCHES

}
